:root{
    --baseColor: #4DB6AC;
    --primaryColor:#FFFFFF ;
    --primaryColor1:#1A237E;
    --secondaryColor1:#C8DAD3;
    --secondaryColor2:#93B5B3;
    font-size: 1em;
}
.full-screen{
    height: 100vh;
    align-items: center;
    background-color: var(--baseColor);
    justify-content: center;
}

.logo,.startquiz,.email{
    height: 20%;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex; 
}
.startquiz{
    display: none; 
}
.heading{
    height: 33.33%;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    display: flex; 
    color: var(--primaryColor);
}
.score{
    height: 33.33%;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    display: flex; 
    color: var(--primaryColor);
   
}
.start-btn{
    height: 60px;
    width:200px;
    background-color: var(--primaryColor);
    border-radius: 30px;
    color: var(--baseColor);
    font-weight: bold;
    font-size: 2rem;
    border: none;
}
.quiz-top{
    background-color:brown;
    height:100vh;
}
.prev,.next{
    background:none;
    border:none;
    margin:0;
    color:var(--baseColor2);
    height: 29px;;
    cursor: pointer;
}
