<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
                    <div class="container-fluid p-0 m-0">
                            <div class="col  full-screen">
                                    <div class="row-12 heading">SignUp</div>
                                        <div class="row-12 user">
                                            <label class="col-4 font-weight-bold label">UserName:</label>
                                             <input type="text" class="col-4 username" required>
                                        </div>
                                        <div class="row-12 pwd">
                                            <label class="col-4 font-weight-bold label">password:</label>
                                            <input type="password" class="col-4 password" required>
                                        </div>
                                        <div class="row-12 pwd">
                                            <label class="col-4 font-weight-bold label">ReType password:</label>
                                            <input type="password" class="col-4 password-repeat" required>
                                        </div>
                                        <div class="row-12 submitbtn">
                                            <button class="sign-up">SignUp</button>
                                            <a href="../index.html">LogIn</a>
                                        </div>
                                    <!-- </div> -->
                    </div>
                 </div>   
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/javascript/app.js" async defer></script>
    </body>
</html>